# activation de du moteur de réécriture
# pour la configuration du serveur APACHE
RewriteEngine on

    # Si le dossier 'framework' est chargé dans le navigateur,
    # redirige automatiquement l'utilisateur dans le dossier public
    RewriteRule ^(.*)$ public/
